body{
    background-color: rgb(175, 206, 215);
    background-image: url();
    background-repeat: no-repeat;
    align-items: center;
}
h1{
    font-style: italic;
    font-size: 90px;
    color: rgb(88, 5, 63);
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    font-size: 30px;
    font-style: italic;
}span{
    
    font-style: oblique;
    font-size: 55px;
    color: rgb(1, 18, 63);
}
